<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        h1{
            padding-left: 500px;
        }
        h3{
            padding-left: 420px;
            padding-bottom: 2000px;
        }
    </style>
</head>
<body bgcolor="cyan">
<h1>Holla people!!</h1>
<h1>You are welcomed!!</h1>
<a href="result.html">click here if you are student</a><br>
<a href="tutor.html">click here if you are tutor</a><br>
<h3>thanks for considering us!!</h3>
</body>
</html>